.Title1 {
  padding: 16px;
}

.Listing-Grid {
  display: grid;
  /* Lisitng 1 murund oruulj baigaa mun responsive */
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}
.Title2{
  padding: 16px;
}